@import '../src/common/colors.scss';
@import './components/index';
.story-section-props {
  padding: 16px 0;

  .story-prop {
    display: flex;
    padding: 12px;
    
    .story-prop-left {
      min-width: 200px;
      width: 200px;

      .story-prop-name {
        margin-bottom: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 192px;
      }

      .story-prop-required {
        background-color: $cobalt4;
        border-radius: 3px;
        color: #fff;
        padding: 3px 4px;
        width: min-content;
      }
    }

    .story-prop-right {
      width: -webkit-fill-available;
      width: -moz-available;
      
      .story-prop-type-and-default {
        align-items: center;
        display: flex;
        margin-bottom: 4px;

        .story-prop-type {
          font-weight: bold;
        }

        .story-prop-default {
          color: $gray3;
          margin-left: 8px;
          font-style: italic;
        }
      }

      .story-prop-content {
        
      }
    }
  }

  .story-prop:nth-child(2n-1) {
    background-color: $light-gray5;
  }
}