/* Text */

.text--xs {
  font-size: 10px;
}

.text--s {
  font-size: 12px;
}

.text--sm {
  font-size: 14px;
}

.text--m {
  font-size: 16px;
}

.text--ml {
  font-size: 18px;
}

.text--mml {
  font-size: 20px;
}

.text--l {
  font-size: 24px;
}

.text--xl {
  font-size: 32px;
}